<h1> Reset Your Password </h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]), data: {turbo: false} do |form| %>
  <% if @user.errors.any? %>  <!-- Check if there are any validation errors -->
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li> <!-- Display each error message -->
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= form.submit "Reset Password", class: "btn btn-primary" %>
  </div>
<% end %>