<h1> Edit Your Password </h1>

<%= form_with model: Current.user, url: edit_password_path, data: {turbo: false} do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= form.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>